{% extends 'accounts/base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block styles %}
<style>
    input[type=submit]{
        margin-left:-120px;
    }
    input[type=reset]{
        color: white;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px 30px;
        position: absolute;
        transform: translate(-50%);
        border: 2px solid #07CB79;
        background: black;
        outline: none;
        box-shadow: 0 0 5px black;
        left:310px;
    }
    .mid-box{
        height: auto;
    }
    form{
        margin-bottom: 50px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="mid-box">
        <form method="POST">
            {% csrf_token %}
            {% include "partials/_alerts.html" %}
            <h1>Change Password</h1>
            <p>Old Password</p>
            <input type="password" placeholder="Old Password" name='old_password' required>
            <p>New Password</p>
            <input type="password" placeholder="Password" name='password1'>
            <input type="password" placeholder="Confirm Password" name='password2'>
            <div class="buttons"><br>
                <input type="submit" value="Submit">
                <input type="reset" value="Cancel">
            </div>        
        </form>
    </div>
{% endblock %}