{% extends 'accounts/base.html' %}
{% block title %}Signup{% endblock %}

{% block styles %}
<style>
    .mid-box span::before{
        content: "Already have an account? ";
    }
</style>
{% endblock  %}

{% block content %}
<div class="mid-box">
    {% include 'partials/_alerts.html' %}
    <form class="signup" method='POST' style="height: 60%; padding-bottom:385px;"><br>
        {% csrf_token %}
        <h1 align='center'>Create Account</h1>
        <p>Name</p>
        <input type="text" placeholder="Name" name='name' required><br>
        <!-- <p>First Name</p>
        <input type="text" placeholder="First Name" name='first_name' required><br> -->
        <!-- <p>Last Name</p>
        <input type="text" placeholder="Last Name" name='last_name'><br>
        <p>Gender</p>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value='male'>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value='female'><br><br> -->
        <p>Mobile Number</p>
        <input type="text" placeholder="Mobile Number" name='mobile'><br>
        <p>Email</p>
        <input type="text" placeholder="Email id" name='email'><br>
        <p>Password</p>
        <input type="password" placeholder="Password" name='password' required><br>
        <div class="buttons">
            <input type="submit" value="Signup">
        </div>
    </form>
    <div class="gap"><br></div>
        <div class='devider'>
            <span><a href="{% url 'accounts:login' %}">Login</a></span>
        </div>
    </div>
{% endblock %}