{% extends 'base.html' %}

{% block title %}
{% if laptops %}Laptops{% endif %}
{% if mobiles %}Mobiles{% endif %}
{% if sensors %}Sensors{% endif %}
{% if electronic_components %}Electronic Components{% endif %}
{% endblock %}

{% block style %}
.footer a{
    color:white;
}
img{
    margin-top:15px;
}

@media (max-width: 700px){
    .category{
        zoom:70%;
        margin:90px 0 0 0;
        margin-bottom:20px;
    }

    .category ul li{
        margin:0 10px;
    }

    h1{
        margin:0 0 20px 0;
    }
}

@media (max-width: 500px){
    .category{
        {% comment %} display: none; {% endcomment %}
    }
}
{% endblock %}

{% block content %}

{% if products %}
{% if search_input %}
<h1>Searched results</h1>
{% else %}}
<h1>{{products.first.category}}:</h1>
{% endif %}
<div class="mobiles" align="center">
{% for product in products %}
{% if product.is_published %}
<a href="{% url 'products:product' product.id %}"><div class="products">
    <img src="{{product.main_image.url}}" alt="{{product.title}}">
    <div class='details' align='center'>            
        <h3 style="margin-bottom: 8px;">{{product.title}}</h3>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <h2>Rs.{{product.deal_price}}</h2>
        <p>{% if product.is_nocost %} No Cost EMI available. {% endif %}</p>
    </div>
</a>
</div>
{% endif %}
{% endfor %}
{% else %}
<h2 style="margin: 20px; font-weight:normal">No products are available</h2>
{% endif %}



{% endblock %}