{% extends "base.html" %}
{% block title %} A {% endblock %}
{% block style %}
body{
    background: #FFFFFF;
}
.checked{
    color: orange;
}
.pr{
    margin-top:70px;
}
.tech_details{
    margin-left:20px;
}
.pro_info{
    margin: 10px 15px;
    font-weight: normal;
}

.intimacy{
    font-family: 'Intimacy';

}
.pro_photos ul li{
    list-style-type: none;
}
h1{
    font-size: 1.5rem;
    line-height: 2rem;
}
.pro_info .price p{
    margin: 5px 0px;
}
.fetures{ 
    display: grid;
    grid-template-columns: 60% 35%;
    position: relative;
}
ul li{
    line-height: 35px;
    list-style-type: disc;
}
#tag{
    font-size: 17px;
    margin-bottom: 5px;
}
table{
    font-size: 17px;
    color: #505050;
    border-collapse: collapse;
    width: 95%;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
}
td, th{
    font-weight: normal;
    vertical-align: top;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
    /* filter: drop-shadow(0px 0px 1px #E5E5E5); */

}
td{
    background-color: white;
}
th{
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}

.pro_head{
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    grid-column-gap: 50px;
}
.pro_banner{
    width: 90%;
}
.pro_photos img{
    width: 100%;
    /* margin: 20px; */
    margin: 0;
    margin-top: -50px;
    margin-left: 80px;
    max-width: 450px;
    max-height: 400px;
}
.buttons button{
    color: white;
    margin: 5px 30px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid #07CB79;
    width:150px;
    background: black;
    outline: none;
    box-shadow: 0 0 5px black;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    margin-top: -2rem;
    padding: 0;
    border: none;
    background-color: #E2E2E2;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    /* background-color: #07CB79; */
    outline: none;
    /* border: 0.75px solid #07CB79; */
    /* border: 0.3px solid black; */
    transform: scale(1.8);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.buttons button:hover{
    background: #07CB79;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}

@media (max-width:900px){
    .pro_head{
        display: block;
    }
    .pro_photos img{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width:800px){
    .features, .pro_feature{
        zoom: 80%;
        padding:5px 10px;
    }
    .nocost{
        zoom:90%
    }
}

@media (max-width:500px){

    .pro_photos img{
        margin-top: 0;
        margin: 0;
        margin-top:0px;
    }
    .category{
        display:none;
    }
    .pro_head{
        margin-top: -50px;
        display: block;
    }

    .buttons button{
        margin:10px;
    }
    .fetures{
        display: block;
        margin: 0;
    }

    table{
        width: 95%;
    }
    .slick-dots{
        left: 50%;
    }
}
{% endblock %}

{% block content %}
<br>
<div class="pro_head">
    <div class="pr">
        <div class="pro_photos"  align='center'>
            {% if product.image_1 %}
            <img src="{{product.image_1.url}}" alt="">
            {% endif %}
            {% if product.image_2 %}
            <img src="{{product.image_2.url}}" alt="">
            {% endif %}
            {% if product.image_3 %}
            <img src="{{product.image_3.url}}" alt="">
            {% endif %}
            {% if product.image_4 %}
            <img src="{{product.image_4.url}}" alt="">
            {% endif %}
            {% if product.image_5 %}
            <img src="{{product.image_5.url}}" alt="">
            {% endif %}
        </div>

    </div>
    <div class="pro_info"><br>
        <h1>{{product.title}} ({{product.laptop.description}})</h1>
        {% for i in rating %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        {% for i in rating_un %}
        <span class="fa fa-star"></span>
        {% endfor %}
        <div class="price">
            <p><b>MRP: </b><del>{{product.mrp}}</del></p>
            <p><b>Deal Price: </b>{{product.deal_price}}</p>
            <p><b>You Save: </b>{{save}}</p>
        </div>

        <p style="display: inline;">Delivery by: </p><h3 style="display: inline;">Thursday, July 23</h3>
        {% if product.is_nocost %}
        <p class="nocost">No Cost EMI available.</p>
        {% endif %}
        
        <div class="pro_feature">
            <ul>
                <li>{{product.feature_1}}</li>
                <li>{{product.feature_2}}</li>
                <li>{{product.feature_3}}</li>
                <li>{{product.feature_4}}</li>
                <li>{{product.feature_5}}</li>
                <li>{{product.feature_6}}</li>
            </ul>
        </div>
        <div class="buttons" align='center'>
            <button>Add to Cart</button>
            <button>Buy Now</button>
        </div>
    </div>
</div>
<div class="pro_banner">
    <!-- <img src="{{product.image_3.url}}" alt=""> -->
</div>

<div class="tech_details">
    <h3 id='tag'>{{product.title}} {{product.category}} Information</h3>
<p style="display: inline;">Style name: </p><p style="display: inline;"><b></b></p><p style="display: inline;">  |  Colour: </p><p style="display: inline;"><b>Coral Green</b></p>
<div class="fetures">
    <div>
        <h3 style="line-height:50px;">Technical Details</h3>
        <table align="center">
        <tr>
            <th>Brand</th>
            <td>{{product.laptop.brand}}</td>
        </tr>
        <tr>
            <th>Series</th>
            <td>{{product.laptop.series}}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>{{product.laptop.color}}</td>
        </tr>
        <tr>
            <th>Item height</th>
            <td>{{product.laptop.item_height}}</td>
        </tr>
        <tr>
            <th>Item width</th>
            <td>{{product.laptop.item_width}}</td>
        </tr>
        <tr>
            <th>Item weight</th>
            <td>{{product.laptop.item_weight}}</td>
        </tr>
        <tr>
            <th>Screen Size</th>
            <td>{{product.laptop.screen_size}}</td>
        </tr>
        <tr>
            <th>Max display Resolution</th>
            <td>{{product.laptop.maximum_display_res}}</td>
        </tr>
        <tr>
            <th>Product Dimension</th>
            <td>{{product.laptop.product_dimension}}</td>
        </tr>
        <tr>
            <th>Batteries</th>
            <td>{{product.laptop.batteries}}</td>
        </tr>
        <tr>
            <th>Item Model Number</th>
            <td>{{product.laptop.item_model_no}}</td>
        </tr>
        <tr>
            <th>Processor Brand</th>
            <td>{{product.laptop.processor_brand}}</td>
        </tr>
        <tr>
            <th>Processor Type</th>
            <td>{{product.laptop.processor_type}}</td>
        </tr>
        <tr>
            <th>RAM Technology</th>
            <td>{{product.laptop.memory_technology}}</td>
        </tr>
        <tr>
            <th>RAM Size</th>
            <td>{{product.laptop.ram_size}}</td>
        </tr>
        {% if product.laptop.hdd_technology %}
        <tr>
            <th>HDD Technology</th>
            <td>{{product.laptop.hdd_technology}}</td>
        </tr>
        {% endif %}
        {% if product.laptop.hdd_size %}
        <tr>
            <th>HDD Size</th>
            <td>{{product.laptop.hdd_size}}</td>
        </tr>
        {% endif %}
        {% if product.laptop.ssd_size %}
        <tr>
            <th>HDD Size</th>
            <td>{{product.laptop.ssd_size}}</td>
        </tr>
        {% endif %}
        {% if product.laptop.speaker_discription %}
        <tr>
            <th>Speaker Description</th>
            <td>{{product.laptop.speaker_discription}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Graphic Processor</th>
            <td>{{product.laptop.graphic_processor}}</td>
        </tr>
        {% if product.laptop.graphic_card_size %}
        <tr>
            <th>Graphic Card Size</th>
            <td>{{product.laptop.graphic_card_size}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Connectivity Type</th>
            <td>{{product.laptop.connectivity_type}}</td>
        </tr>
        <tr>
            <th>Number of USB 2.0 Ports</th>
            <td>{{product.laptop.no_of_usb2_ports}}</td>
        </tr>
        <tr>
            <th>Number of USB 3.0 Ports</th>
            <td>{{product.laptop.no_of_usb3_ports}}</td>
        </tr>
        <tr>
            <th>Number of HDMI Ports</th>
            <td>{{product.laptop.no_of_hdmi_ports}}</td>
        </tr>
        <tr>
            <th>Number of Audio-Out Ports</th>
            <td>{{product.laptop.no_of_audio_out_ports}}</td>
        </tr>
        <tr>
            <th>Number of Microphone Ports</th>
            <td>{{product.laptop.no_of_microphone_ports}}</td>
        </tr>
        <tr>
            <th>Power Source</th>
            <td>{{product.laptop.power_source}}</td>
        </tr>
        <tr>
            <th>Operating System</th>
            <td>{{product.laptop.os}}</td>
        </tr>
        {% if product.laptop.avg_battery_standby %}
        <tr>
            <th>Average Battery Standby</th>
            <td>{{product.laptop.avg_battery_standby}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Average Battery Life</th>
            <td>{{product.laptop.avg_battery_life}}</td>
        </tr>
        <tr>
            <th>Lithium Battery Energy Content</th>
            <td>{{product.laptop.lithium_energy_battery_content}}</td>
        </tr>
        <tr>
            <th>Included Components</th>
            <td>{{product.laptop.included_components}}</td>
        </tr>
        <tr>
            <th>Warrenty</th>
            <td>{{product.laptop.warrenty}}</td>
        </tr>
        </table>
    </div>
    <div><br>
        <h3 style="line-height:50px;">Addional Information</h3>
        <table align="center">
            <tr>
                <th>ASIN</th>
                <td>{{product.seller.asin}}</td>
            </tr>
            <tr>
                <th>Customer Reviews</th>
                <td>{{product.rating}} out of 5</td>
            </tr>
            <tr>
                <th>Best Sellers Rank</th>
                <td>{{product.seller.bsr}}</td>
            </tr>
            <tr>
                <th>Date First Available</th>
                <td>{{product.seller.doa}}</td>
            </tr>
        </table>
    </div>
</div> 
</div>
<br><br>

{% endblock %}

