{% extends "base.html" %}
{% block title %} {{product.title}} {% endblock %}
{% block style %}
body{
    background: #FFFFFF;
}
.checked{
    color: orange;
}
.pr{
    margin-top:70px;
}
.tech_details{
    margin-left:20px;
}
.pro_info{
    margin: 10px 15px;
    font-weight: normal;
}

.intimacy{
    font-family: 'Intimacy';

}
.pro_photos ul li{
    list-style-type: none;
}
h1{
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 2rem;
}
.properties{
    font-weight: normal;
    margin:20px;
}
.pro_info .price p{
    margin: 5px 0px;
}
.fetures{ 
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
}
ul li{
    line-height: 35px;
    list-style-type: disc;
}
#tag{
    font-size: 17px;
    margin-bottom: 5px;
}
table{
    font-size: 17px;
    color: #505050;
    border-collapse: collapse;
    width: 95%;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
}
td, th{
    font-weight: normal;
    vertical-align: top;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
    /* filter: drop-shadow(0px 0px 1px #E5E5E5); */

}
td{
    background-color: white;
}
th{
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #ddd;
}

.pro_head{
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    grid-column-gap: 50px;
}
.pro_banner img{
    width: 100%;
}
.pro_photos img{
    width: 50%;
    /* margin: 20px; */
    margin: 0;
    <!-- margin-top: -50px; -->
    margin-top: 0px;
    margin-left: 80px;
    max-width: 450px;
    max-height: 400px;
}
.buttons a{
    color: white;
    margin: 5px 30px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid #07CB79;
    width:150px;
    background: black;
    outline: none;
    box-shadow: 0 0 5px black;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,0)
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0;
    border: none;
    background-color: #E2E2E2;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    /* background-color: #07CB79; */
    outline: none;
    /* border: 0.75px solid #07CB79; */
    /* border: 0.3px solid black; */
    transform: scale(1.8);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.buttons a:hover{
    background: #07CB79;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}

@media (max-width:900px){
    .pro_head{
        display: block;
    }
    .pro_photos img{
        margin-left: 5%;
        margin-right: 5%;
    }
        .pr{
        margin-top:10px;
    }
}
@media (max-width:800px){
    .features, .pro_feature{
        zoom: 80%;
        padding:5px 10px;
    }
    .nocost{
        zoom:90%
    }
}

@media (max-width:500px){

    .pro_info h1{
        margin-top: 40px;
    }
    .pro_photos img{
        margin-top: 0;
        margin: 0;
        margin-top:0px;
    }
    .category{
        display:none;
    }
    .pro_head{
        margin-top: -50px;
        display: block;
    }

    .buttons a{
        margin:10px;
    }
    .fetures{
        display: block;
        zoom: 90%;
    }

    <!-- .fetures{
        display: block;
        margin-left: -15px;
        margin-right:40px;
    } -->
    .fetures table{
        table-layout: fixed;
        width: 95%;
    }
    .slick-dots{
        left: 50%;
    }
}
{% endblock %}

{% block content %}
<br>
{% if product.is_published %}
<div class="pro_head">
    <div class="pr">
        <div class="pro_photos"  align='center'>
            {% if product.image_1 %}
            <img src="{{product.main_image.url}}" alt="">
            {% endif %}
            {% if product.image_1 %}
            <img src="{{product.image_1.url}}" alt="">
            {% endif %}
            {% if product.image_2 %}
            <img src="{{product.image_2.url}}" alt="">
            {% endif %}
            {% if product.image_3 %}
            <img src="{{product.image_3.url}}" alt="">
            {% endif %}
            {% if product.image_4 %}
            <img src="{{product.image_4.url}}" alt="">
            {% endif %}
            {% if product.image_5 %}
            <img src="{{product.image_5.url}}" alt="">
            {% endif %}
            {% if product.image_6 %}
            <img src="{{product.image_6.url}}" alt="">
            {% endif %}
            {% if product.image_7 %}
            <img src="{{product.image_7.url}}" alt="">
            {% endif %}
            {% if product.image_8 %}
            <img src="{{product.image_8.url}}" alt="">
            {% endif %}
        </div>
    </div>
    <div class="pro_info">
        <h1>{{product.title}} {{product.laptop.description}}{{product.mobile.description}}</h1>
        {% for i in rating %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        {% for i in rating_un %}
        <span class="fa fa-star"></span>
        {% endfor %}
        <div class="price">
            <p><b>MRP: </b><del>{{product.mrp}}</del></p>
            <p><b>Deal Price: </b>{{product.deal_price}}</p>
            <!-- <p><b>You Save: </b>{{save}}</p> -->
        </div>

        <p style="display: inline;">Delivery by: </p><h3 style="display: inline;">Thursday, Aug 23</h3>
        {% if product.is_nocost %}
        <p class="nocost">No Cost EMI available.</p>
        {% endif %}
        
        <div class="pro_feature">
            <ul>
                <li>{{product.feature_1}}</li>
                <li>{{product.feature_2}}</li>
                <li>{{product.feature_3}}</li>
                <li>{{product.feature_4}}</li>
                <li>{{product.feature_5}}</li>
                <li>{{product.feature_6}}</li>
            </ul>
        </div><br>
        <div class="buttons" align='center'>
            {% if not user.is_authenticated %}
                <a href="{% url 'accounts:login' %}">Add to Cart</a>
                <a href="{% url 'accounts:login' %}">Buy Now</a><br><br>
            {% else %}
                {% if product.id in cart %}
                <a href="{% url 'cart:cart' %}">Got to Cart</a>
                {% else %}
                <a href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                {% endif %}
                <a href="{% url 'buy:payment' product.id %}">Buy Now</a><br><br>
            {% endif %}
        </div>
    </div>
</div>

<!-- Properties -->
        {% if product.sensor.property_1 %}
        <br>
        <div class="properties">
        <p>{{product.sensor.property_1}}</p>
        </div>
        {% endif %}
        {% if product.sensor.property_2 %}
        <div class="properties">
        <p>{{product.sensor.property_2}}</p>
        </div>
        {% endif %}
        {% if product.sensor.property_3 %}
        <div class="properties">
        <p>{{product.sensor.property_3}}</p>
        </div>
        {% endif %}
<div class="pro_banner">
    {% if product.pro_banner_1 %}
    <img src="{{product.pro_banner_1.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_2 %}
    <img src="{{product.pro_banner_2.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_3 %}
    <img src="{{product.pro_banner_3.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_4 %}
    <img src="{{product.pro_banner_4.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_5 %}
    <img src="{{product.pro_banner_5.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_6 %}
    <img src="{{product.pro_banner_6.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_7 %}
    <img src="{{product.pro_banner_7.url}}" alt="">
    {% endif %}
    {% if product.pro_banner_8 %}
    <img src="{{product.pro_banner_8.url}}" alt="">
    {% endif %}
</div>

<br>
<div class="tech_details">
    <h3 id='tag'>{{product.title}} {{product.category}} Information</h3>
<p style="display: inline;">Style name: </p><p style="display: inline;"><b></b></p><p style="display: inline;">  |  Colour: </p><p style="display: inline;"><b>Coral Green</b></p>
<div class="fetures" id='feature'>
    <div>
        <h3 style="line-height:50px;">Technical Details</h3>

        <table align="center">

            <!-- LAPTOP -->
            {% if product.laptop %}
            <tr>
                <th>Brand</th>
                <td>{{product.laptop.brand}}</td>
            </tr>
            <tr>
                <th>Series</th>
                <td>{{product.laptop.series}}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{product.laptop.color}}</td>
            </tr>
            <tr>
                <th>Item height</th>
                <td>{{product.laptop.item_height}}</td>
            </tr>
            <tr>
                <th>Item width</th>
                <td>{{product.laptop.item_width}}</td>
            </tr>
            <tr>
                <th>Item weight</th>
                <td>{{product.laptop.item_weight}}</td>
            </tr>
            <tr>
                <th>Screen Size</th>
                <td>{{product.laptop.screen_size}}</td>
            </tr>
            <tr>
                <th>Max display Resolution</th>
                <td>{{product.laptop.maximum_display_res}}</td>
            </tr>
            <tr>
                <th>Product Dimension</th>
                <td>{{product.laptop.product_dimension}}</td>
            </tr>
            <tr>
                <th>Batteries</th>
                <td>{{product.laptop.batteries}}</td>
            </tr>
            <tr>
                <th>Item Model Number</th>
                <td>{{product.laptop.item_model_no}}</td>
            </tr>
            <tr>
                <th>Processor Brand</th>
                <td>{{product.laptop.processor_brand}}</td>
            </tr>
            <tr>
                <th>Processor Type</th>
                <td>{{product.laptop.processor_type}}</td>
            </tr>
            <tr>
                <th>RAM Technology</th>
                <td>{{product.laptop.memory_technology}}</td>
            </tr>
            <tr>
                <th>RAM Size</th>
                <td>{{product.laptop.ram_size}}</td>
            </tr>
            {% if product.laptop.hdd_technology %}
            <tr>
                <th>HDD Technology</th>
                <td>{{product.laptop.hdd_technology}}</td>
            </tr>
            {% endif %}
            {% if product.laptop.hdd_size %}
            <tr>
                <th>HDD Size</th>
                <td>{{product.laptop.hdd_size}}</td>
            </tr>
            {% endif %}
            {% if product.laptop.ssd_size %}
            <tr>
                <th>HDD Size</th>
                <td>{{product.laptop.ssd_size}}</td>
            </tr>
            {% endif %}
            {% if product.laptop.speaker_discription %}
            <tr>
                <th>Speaker Description</th>
                <td>{{product.laptop.speaker_discription}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Graphic Processor</th>
                <td>{{product.laptop.graphic_processor}}</td>
            </tr>
            {% if product.laptop.graphic_card_size %}
            <tr>
                <th>Graphic Card Size</th>
                <td>{{product.laptop.graphic_card_size}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Connectivity Type</th>
                <td>{{product.laptop.connectivity_type}}</td>
            </tr>
            <tr>
                <th>Number of USB 2.0 Ports</th>
                <td>{{product.laptop.no_of_usb2_ports}}</td>
            </tr>
            <tr>
                <th>Number of USB 3.0 Ports</th>
                <td>{{product.laptop.no_of_usb3_ports}}</td>
            </tr>
            <tr>
                <th>Number of HDMI Ports</th>
                <td>{{product.laptop.no_of_hdmi_ports}}</td>
            </tr>
            <tr>
                <th>Number of Audio-Out Ports</th>
                <td>{{product.laptop.no_of_audio_out_ports}}</td>
            </tr>
            <tr>
                <th>Number of Microphone Ports</th>
                <td>{{product.laptop.no_of_microphone_ports}}</td>
            </tr>
            <tr>
                <th>Power Source</th>
                <td>{{product.laptop.power_source}}</td>
            </tr>
            <tr>
                <th>Operating System</th>
                <td>{{product.laptop.os}}</td>
            </tr>
            {% if product.laptop.avg_battery_standby %}
            <tr>
                <th>Average Battery Standby</th>
                <td>{{product.laptop.avg_battery_standby}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Average Battery Life</th>
                <td>{{product.laptop.avg_battery_life}}</td>
            </tr>
            <tr>
                <th>Lithium Battery Energy Content</th>
                <td>{{product.laptop.lithium_energy_battery_content}}</td>
            </tr>
            <tr>
                <th>Included Components</th>
                <td>{{product.laptop.included_components}}</td>
            </tr>
            <tr>
                <th>Warrenty</th>
                <td>{{product.laptop.warrenty}}</td>
            </tr>
        {% endif %}


        <!-- Sensor -->
        {% if product.sensor %}
        <tr>
            <th>Brand</th>
            <td>{{product.sensor.brand}}</td>
        </tr>
        {% if product.sensor.model %}
        <tr>
            <th>Model</th>
            <td>{{product.sensor.model}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.item_weight %}
        <tr>
            <th>Item Weight</th>
            <td>{{product.sensor.item_weight}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.product_dim %}
        <tr>
            <th>Product Dimension</th>
            <td>{{product.sensor.product_dim}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.part_no %}
        <tr>
            <th>Part No.</th>
            <td>{{product.sensor.part_no}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.battery %}
        <tr>
            <th>Battery</th>
            <td>{{product.sensor.battery}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.audio_focus %}
        <tr>
            <th>Audio Focus</th>
            <td>{{product.sensor.audio_focus}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.programmable_btn %}
        <tr>
            <th>Programmable Button</th>
            <td>{{product.sensor.programmable_btn}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.color %}
        <tr>
            <th>Color</th>
            <td>{{product.sensor.color}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.hardware_interface %}
        <tr>
            <th>Hardware Interface</th>
            <td>{{product.sensor.hardware_interface}}</td>
        </tr>
        {% endif %}
        
        {% if product.sensor.voltage %}
        <tr>
            <th>Voltage</th>
            <td>{{product.sensor.voltage}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.color_screen %}
        <tr>
            <th>Color Screen</th>
            <td>{{product.sensor.color_screen}}</td>
        </tr>
        {% endif %}
        {% if product.sensor.compabitable_devises %}
        <tr>
            <th>Compabitable Devises</th>
            <td>{{product.sensor.compabitable_devises}}</td>
        </tr>
        {% endif %}
        {% endif %}


        <!-- Electronic Components -->
        {% if product.electronic_component %}
        <tr>
            <th>Brand</th>
            <td>{{product.electronic_component.brand}}</td>
        </tr>
        {% if product.electronic_component.model %}
        <tr>
            <th>Model</th>
            <td>{{product.electronic_component.model}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.item_weight %}
        <tr>
            <th>Item Weight</th>
            <td>{{product.electronic_component.item_weight}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.product_dim %}
        <tr>
            <th>Product Dimension</th>
            <td>{{product.electronic_component.product_dim}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.part_no %}
        <tr>
            <th>Part No.</th>
            <td>{{product.electronic_component.part_no}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.battery %}
        <tr>
            <th>Battery</th>
            <td>{{product.electronic_component.battery}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.audio_focus %}
        <tr>
            <th>Audio Focus</th>
            <td>{{product.electronic_component.audio_focus}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.programmable_btn %}
        <tr>
            <th>Programmable Button</th>
            <td>{{product.electronic_component.programmable_btn}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.color %}
        <tr>
            <th>Color</th>
            <td>{{product.electronic_component.color}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.hardware_interface %}
        <tr>
            <th>Hardware Interface</th>
            <td>{{product.electronic_component.hardware_interface}}</td>
        </tr>
        {% endif %}
        
        {% if product.electronic_component.voltage %}
        <tr>
            <th>Voltage</th>
            <td>{{product.electronic_component.voltage}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.color_screen %}
        <tr>
            <th>Color Screen</th>
            <td>{{product.electronic_component.color_screen}}</td>
        </tr>
        {% endif %}
        {% if product.electronic_component.compabitable_devises %}
        <tr>
            <th>Compabitable Devises</th>
            <td>{{product.electronic_component.compabitable_devises}}</td>
        </tr>
        {% endif %}
        {% endif %}


        <!-- Mobile -->
            {% if product.mobile %}
            <tr>
                <th>OS</th>
                <td>{{product.mobile.os}}</td>
            </tr>
            <tr>
                <th>ROM</th>
                <td>{{product.mobile.rom}}</td>
            </tr>
            <tr>
                <th>RAM</th>
                <td>{{product.mobile.ram}}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{product.mobile.color}}</td>
            </tr>
            <tr>
                <th>Product Dimension</th>
                <td>{{product.mobile.item_dim}}</td>
            </tr>
            <tr>
                <th>Item weight</th>
                <td>{{product.mobile.item_weight}}</td>
            </tr>
            <tr>
                <th>Batteries</th>
                <td>{{product.mobile.battery}}</td>
            </tr>
            <tr>
                <th>Item Model Number</th>
                <td>{{product.mobile.item_model_no}}</td>
            </tr>
            <tr>
                <th>Processor</th>
                <td>{{product.mobile.processor}}</td>
            </tr>
            <tr>
                <th>Wireless communication technologies</th>
                <td>{{product.mobile.wireless_com_tech}}</td>
            </tr>
            <tr>
                <th>Connectivity Technology</th>
                <td>{{product.mobile.connectivity_tech}}</td>
            </tr>
            <tr>
                <th>Special Features</th>
                <td>{{product.mobile.speacial_features}}</td>
            </tr>
            <tr>
                <th>Display Technology</th>
                <td>{{product.mobile.display_tech}}</td>
            </tr>
            <tr>
                <th>Camera</th>
                <td>{{product.mobile.camera}}</td>
            </tr>
            <tr>
                <th>Form Factor</th>
                <td>{{product.mobile.form_factor}}</td>
            </tr>
            <tr>
                <th>Battery Rating</th>
                <td>{{product.mobile.battery_rating}}</td>
            </tr>
            <tr>
                <th>Whats in the box</th>
                <td>{{product.mobile.whats_in_box}}</td>
            </tr>
            <tr>
                <th>Warrenty</th>
                <td>{{product.mobile.warrenty}}</td>
            </tr>
            {% endif %}

            

        </table>

    </div>
    <div><br>
        <h3 style="line-height:50px;">Addional Information</h3>
        <table align="center">
            <tr>
                <th>ASIN</th>
                <td>{{product.seller.asin}}</td>
            </tr>
            <tr>
                <th>Customer Reviews</th>
                <td>{{product.rating}} out of 5</td>
            </tr>
            <tr>
                <th>Best Sellers Rank</th>
                <td>{{product.seller.bsr}}</td>
            </tr>
            <tr>
                <th>Date First Available</th>
                <td>{{product.seller.doa}}</td>
            </tr>
        </table>
    </div>
</div> 
</div>

{% else %}
<p style="padding-left: 20px;">Product is not available</p>
{% endif %}
<br><br>

{% endblock %}
