#header{
    background: black;
    font-weight: bold;
    padding: 10px 50px;
}

#header h1{
    font-family: 'Segoe UI';
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 40px;
}

div.breadcrumbs{
    color: black;
    background: #F3F3F3;
    font-size: 16px;
    font-family: monospace;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
}

div.breadcrumbs a{
    color: black;
}

.module h2, .module caption, .inline-group h2{
    background-color: #07CB79;
}

.button, input[type=submit], input[type=button], .submit-row input[type=submit], a.button {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 30px;
    border: 2px solid #07CB79;
    background: black;
    outline: none;
    box-shadow: 0 0 3px black;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover, 
.submit-row input[type=submit]:hover, a.button:hover{
    background: #07CB79;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
}

/* SAVE BUTTON STYLING */
/* .submit-row input[value=Save]{
    background: #07CB79;
    color: black;
    border: 2px solid black;
}
.submit-row input[value=Save]:hover{
    background: black;
    color: white;
    border: 2px solid #07CB79;
} */

