<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            background-color:#07CB79;
            border-radius: 20px;
        }

    </style>
</head>
<body>
    Hi {{ user.username }}, Please click on the bellow button to confirm your registration<br>
    <a href="http://{{ domain }}{% url 'accounts:activate' uidb64=uid token=token %}" ><button style="font-weight:bolder; color:white; padding-top:10px; padding-bottom:8px; padding-left:10px; padding-right:10px; border:2px solid white; text-align:center;">Click here to confirm</button></a>
 
</body>
</html>